.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}
  
.navbar-content {
    display: flex;
    align-items: center;
}
  
.user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
  
.user-name {
    font-size: 1rem;
}
  
/* RESPONSIVE */
@media (max-width: 768px) {
.user-name {
    display: none; /* Oculta el nombre del usuario en pantallas pequeñas */
}
  
.user-photo {
    margin-right: 0; /* Ajusta el espacio de la foto */
}
}
  