.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #222;
    color: #fff;
    padding: 20px;
    position: fixed;
    transition: transform 0.3s ease-in-out;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-item {
    margin-bottom: 15px;
}

.sidebar-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.sidebar-link:hover {
    color: #1e90ff;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
        /* Oculta la barra lateral en pantallas pequeñas */
    }

    .sidebar.open {
        transform: translateX(0);
        /* Muestra la barra lateral cuando está abierta */
    }
}